body {
  background-color: #ffFFFF;
  color: #000000;
  font-size: 16px;
  font:
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  text-decoration: underline;
}


ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figcaption {
  font-size:0.75em;
}

h1 {
  margin-top: 50px;
  font-size: 3em;
  text-transform: capitalize;
}
h3{
  margin-top: 20px;
  font-size: 1.5em;

}
.author{
  font-style:italic;
  margin-top: 10px;
  font-size:0.75em;
}

.story-text {
line-height:1.3em;
margin-top: 20px;

}

p{
  margin-top:10px;
}

a:link { color:#0070BB; } /* unvisited */
a:hover { color:#FAFAFA; } /* mouse over */
a:active { color:#0070BD; } /* selected */
a{text-decoration: none;}
